.loaderContainer {
  width: 15px;
  height: 15px;
  position: relative;
}

.loaderTraveler,
.loaderDot,
.loaderContainer::before,
.loaderContainer::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  background-color: var(--color-blue-marine);
}

.loaderDot {
  left: 0;
  top: 0;
  animation: grow0 var(--tw-animate-speed) ease infinite;
}

.loaderContainer::before {
  bottom: -180%;
  right: -120%;
  animation: grow0 var(--tw-animate-speed) ease calc(var(--tw-animate-speed) * -0.666) infinite;
}

.loaderContainer::after {
  bottom: -180%;
  left: -120%;
  animation: grow0 var(--tw-animate-speed) ease calc(var(--tw-animate-speed) * -0.333) infinite;
}

@keyframes grow0 {

  0%,
  100% {
    transform: scale(1.3);
  }

  20%,
  70% {
    transform: none;
  }
}

.loaderTraveler {
  animation: triangulate var(--tw-animate-speed) ease infinite;
}
@keyframes triangulate {

  0%,
  100% {
    transform: none;
  }

  33.333% {
    transform: translate(120%, 180%);
  }

  66.666% {
    transform: translate(-120%, 180%);
  }
}