.bg-home {
    background-image: url('/src/assets/img/bg-image-home.jpg');
}

/* section gallery/seguros */

:root {
    --principal: #adf5ff;
}

.section-gallery {
    background-color: var(--principal);
    width: 154vh;
    height: 650px;
    display: flex;
}

.conteiner-gallery {
    margin: 15px 10px 20px;
    padding: 30px;
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    row-gap: 2rem;
}

.items-1 {
    border-radius: 5%;
    width: 15rem;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: 100% 10rem;
    margin: auto;
}

.icon-seguro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.icon-seguro img:nth-child(1) {
    width: 100px;
    margin-bottom: 10px;
}

.icon-seguro span {
    font-family: 'lusitana';
    font-weight: 60px;
    font-size: medium;
    color: white;
    position: relative;
    bottom: 10px;
}
